@keyframes dotanm {
    0% {
        -webkit-transform: scale(1) translateX(5px) translateY(5px);
        transform: scale(1) translateX(15px) translateY(15px);
        opacity: .9;
    }

    50% {
        -webkit-transform: scale(1.5) translateX(-5px) translateY(-5px);
        transform: scale(1.5) translateX(-15px) translateY(-15px);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1) translateX(5px) translateY(5px);
        transform: scale(1) translateX(15px) translateY(15px);
        opacity: .9;
    }
}

i{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20%;
    left: 20%;
    transition: all 0.8s ease;
    transform-origin: 50% 50%;

}

i:hover{
    transform: scale(3);
}

.dotChild{

    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    animation: dotanm 8s infinite;
    background: radial-gradient(circle closest-side,#fff 10%,rgba(255,255,255,0) 50%,rgba(255,255,255,0));
    overflow: hidden;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    font-weight: bold;
    cursor: pointer;

    width: 100%;
    height: 100%;
    /*写死的但是应该传值*/

}

.dotChild:hover{
    background: -webkit-radial-gradient(circle closest-side,#c6b6ff,#91a4ec 10%,rgba(255,255,255,0) 50%,rgba(255,255,255,0));
    background: radial-gradient(circle closest-side,#c6b6ff,#91a4ec 10%,rgba(255,255,255,0) 50%,rgba(255,255,255,0));
}

.dot.active {
    filter: blur(0px);
    opacity: 1;
}

.txt.active {
    filter: blur(0px);
    opacity: 1;
}

.dot {
    transition: opacity 2s .5s, filter 2s .5s, -webkit-filter 2s .5s;
    opacity: 0;
    filter: blur(100px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

.txt {
    transition: opacity 2s .5s, filter 2s .5s, -webkit-filter 2s .5s;
    left: 0;
    margin-top: -9%;
    filter: blur(100px);
    opacity: 0;
    width: 30%;
    top: 50%;
    position: absolute;
}

.img {
    width: 100%;
    pointer-events: none;
    border: 0;
}
